
.nav {
  background-color: #ffe6ff;
  height: 10vh;
}
.intro {
  color: red;
}

.nav-link {
  color: red;
}

#welcome-section {
  padding-top: 15em;
  background-color: #ffe6ff;
  height: 100vh;
  
}

#third-section {
  background-color: violet;
}
.social-media {
  padding-top: 1em;
  padding-bottom: 2em;
}
footer {
  background-color: gray;
  text-align: center;
  
  padding-bottom: .1em;
}
.social-media {
  text-align: center;
  background-color: gray;
}
figcaption {
  font-weight: bold;
  border: 1px solid gray;
}
#contact, h3 {
  text-align: center;
  padding-bottom: 2em;
}
@media only screen and (max-width: 400px) {
  form {
    min-width: 200px;
  }
  #welcome-section, #contact {
    text-align: center;
  }
}
